*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    max-height: 100vh;
}

.header{
    padding: 1em;
}

.main{
    display: flex;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 1em;
}
.description img{
    display: flex;
    width: 100%;
}
.charButtons{
    display: flex;
    flex-direction: row;
}
.charButtons button{
    width: 50%;
}


.properties{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 1em;
    max-height: 85vh;
    overflow-y: scroll;    
}
.properties div{
    width: 100%;
}
.properties div div{
    padding: .5em;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.properties div div input{
    width: 75%;
    padding: .5em;
}
.properties div div button{
    width: 25%;
    padding: .5em;
}

@media screen and (max-width: 600px){
    .main{
        display: flexbox;
        flex-direction: column;
    }

    .description, .properties{
        width: 100%;
    }
}